Gemini File Search N8N.json
{
  "name": "Gemini File Search copy",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "b089c868-d2b6-45f4-854c-73d48ddb1371",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -752,
        -288
      ],
      "id": "03c1dcbf-5313-4b40-95d0-5f13a9b597c8",
      "name": "Webhook",
      "webhookId": "b089c868-d2b6-45f4-854c-73d48ddb1371"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.User_Request }}",
        "options": {
          "systemMessage": "You are a helpful assistant for an Alzheimer's patient.  Give answers in short sentences with simple english\n\nBe gentle and kind when answering the patient's queries which will be given by a webhook of a voice agent.\n\nYou have the following tools:\n\n1) Calendar create event tool\n2) calendar tool to view events\n3) a spreadsheet with contact details of family and doctor.\n4) a knowledge base where you have a document about the patient's personal data in a google store.\n5) gmail tool to send emails. the patient only sneds emails to family doctor.\n\nIf patient shows distress or sadness, suggest talking to family members and get their contact number from spreadsheet\n\nYou prioritise the Alzheimer patient's emotional comfort over factual information. Thus, you do not harshly contradict the patient if they provide false or contradictory information. Instead, gently nudge them to the correct information.\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -384,
        -288
      ],
      "id": "1f456b06-dbf6-4090-9a26-9ca9dd776304",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -784,
        -64
      ],
      "id": "37433dc4-e959-4170-b7fc-58a285257583",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "FJirPnNXsIoC01pW",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "emailType": "text",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.2,
      "position": [
        -432,
        32
      ],
      "id": "587b552d-1a66-44db-866d-34543cd1de33",
      "name": "Send a message in Gmail",
      "webhookId": "cabe608e-389b-46c4-af48-61f1573d6b77",
      "credentials": {
        "gmailOAuth2": {
          "id": "jv270sj1e7zYdp0o",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        96,
        -288
      ],
      "id": "09487dd7-706d-4cbd-88c2-16bcd3c27b96",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "12R2wXqeBZUX_hc-TN2HzDFIhtXojxW2r9QM-8b8G-Bs",
          "mode": "list",
          "cachedResultName": "n8n_sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12R2wXqeBZUX_hc-TN2HzDFIhtXojxW2r9QM-8b8G-Bs/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12R2wXqeBZUX_hc-TN2HzDFIhtXojxW2r9QM-8b8G-Bs/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        320,
        -48
      ],
      "id": "8a5aedf9-8e72-46f7-a736-72cc0ab3422e",
      "name": "Get row(s) in sheet in Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "uOb604AtOZjjl2Av",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "formTitle": "Doc Upload",
        "formFields": {
          "values": [
            {
              "fieldLabel": "File",
              "fieldType": "file",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        -528,
        -720
      ],
      "id": "ca577ec6-63b8-423e-8216-d40e5a5043c4",
      "name": "On form submission",
      "webhookId": "426af710-0613-4b36-8795-1772104f37f7"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -464,
        -1072
      ],
      "id": "d89c779c-8ccd-4201-9b5f-3e34d21824f1",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/fileSearchStores",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "displayName",
              "value": "n8n_test"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -240,
        -1072
      ],
      "id": "cc4ae454-ff28-4fad-b391-a13770a2a30d",
      "name": "Create File Store",
      "credentials": {
        "httpQueryAuth": {
          "id": "QSP69URBHb1EV0aX",
          "name": "Query Auth account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://generativelanguage.googleapis.com/upload/v1beta/files",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "File",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -336,
        -720
      ],
      "id": "05b4d26a-812b-4ee6-be1b-8aa4871cf365",
      "name": "Upload File",
      "credentials": {
        "httpQueryAuth": {
          "id": "QSP69URBHb1EV0aX",
          "name": "Query Auth account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://generativelanguage.googleapis.com/v1beta/fileSearchStores/[store_name_here]",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "file_name",
              "value": "={{ $json.file.name }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -112,
        -720
      ],
      "id": "ee679ce7-0b86-46d1-bbd5-d6e4b78245c6",
      "name": "Import File",
      "credentials": {
        "httpQueryAuth": {
          "id": "QSP69URBHb1EV0aX",
          "name": "Query Auth account"
        }
      }
    },
    {
      "parameters": {
        "content": "##  Upload File to Gemini file search api\n",
        "height": 288,
        "width": 704,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -592,
        -816
      ],
      "id": "7e6e090a-5c58-47cc-8637-e6739e353e74",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "#  Setup The Agent  \n\n\nFollow the steps below to get this Gemini-powered RAG up:\n\n###  Step 1: Get Your [Gemini API Key](https://aistudio.google.com/app/apikey)  \nGrab your Gemini API key and plug it into the HTTP Request node that powers the agent's responses.\n\n###  Step 2: Link Your File Store  \nMake sure the **name of your file store** is correctly linked in both the `Import File` HTTP Request and the `Knowledge Base` HTTP Request. This ensures your documents get stored and referenced properly.\n\n###  Step 3: Upload Your PDFs  \nChoose the PDFs you want to use for testing. \ni have a sample pdf with an imaginary patient's data in the github repo\n\n### Step 4: Setup the ElevenLabs Webhook  \nUse the prompt in the github repo to set up the ElevnLabs agent prompt\n\n\n###  Step 4: Query the Agent  \nStart chatting with your agent via voice and test out the responses\n\n\n",
        "height": 704,
        "width": 576
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1392,
        -1200
      ],
      "id": "c49c854b-08f6-415a-aa42-0d4854d47e05",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "##  Create  GEmini file Store",
        "height": 288,
        "width": 608,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -592,
        -1152
      ],
      "id": "9f924783-00f1-4b67-98ac-3a92263a9889",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contents\": [\n    {\n      \"parts\": [\n        { \"text\": \"{{ $fromAI(\"query\",\"the question the user needs an answer to\") }}\" }\n      ]\n    }\n  ],\n  \"tools\": [\n    {\n      \"file_search\": {\n        \"file_search_store_names\": [\n          \"fileSearchStores/n8ntest-9nwhwz1fvy72\"\n        ]\n      }\n    }\n  ]\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        -48,
        16
      ],
      "id": "61cc2147-10d7-4e92-b6f8-0adf37310903",
      "name": "Knowledge Base",
      "credentials": {
        "httpQueryAuth": {
          "id": "QSP69URBHb1EV0aX",
          "name": "Query Auth account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "07767cf0fda29897b23fc4593dddea7f0fb2f6f3b45cda4927cba44ea0840e92@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "n8n_patient_calendar"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        144,
        -16
      ],
      "id": "79e7f81e-d02e-4909-a94c-34ed53feb606",
      "name": "Get many events in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "u7pmxtoyuyqQX73n",
          "name": "Google Calendar account 2"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "07767cf0fda29897b23fc4593dddea7f0fb2f6f3b45cda4927cba44ea0840e92@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "n8n_patient_calendar"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "additionalFields": {
          "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        -240,
        32
      ],
      "id": "652db5f8-4249-4b96-825b-9314c66c58b2",
      "name": "Create an event in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "u7pmxtoyuyqQX73n",
          "name": "Google Calendar account 2"
        }
      }
    },
    {
      "parameters": {
        "content": "##  Chat with the Ai Agent using ElevenLabs Webhook\n",
        "height": 656,
        "width": 1424,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -928,
        -416
      ],
      "id": "29b8dcf5-afb5-4751-a452-81f08c9d4d97",
      "name": "Sticky Note2"
    }
  ],
  "pinData": {
    "Create File Store": [
      {
        "json": {
          "name": "fileSearchStores/n8ntest-9nwhwz1fvy72",
          "displayName": "n8n_test",
          "createTime": "2025-12-30T15:59:25.763713Z",
          "updateTime": "2025-12-30T15:59:25.763713Z"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Send a message in Gmail": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "Upload File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Create File Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload File": {
      "main": [
        [
          {
            "node": "Import File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Knowledge Base": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get many events in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create an event in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f8b1cbb9-84c1-4ba0-b46b-bc17ac892c88",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ffb415b0df9c478a65fed3100108b8f30ac7f0314c9d347e6388a9159ef76831"
  },
  "id": "CRo5oP82aPILzUVs",
  "tags": []
}